.search-bar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-icon {
  color: #fff;
  margin-right: 5px;
}

.search-input {
  background-color: #444;
  border: none;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  width: 150px;
}

.search-input::placeholder {
  color: #bbb;
}

.search-input:focus {
  background-color: #555;
}

@media (max-width: 768px) {
  .search-bar {
    display: none !important;
  }
}