.search-bar {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: width 0.3s ease;
}

.search-bar:hover {
  width: 350px;
}

.search-icon {
  color: #5a5a5a;
  margin-right: 10px;
  font-size: 1.2em;
}

.search-input {
  background-color: transparent;
  border: none;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

.search-input::placeholder {
  color: #888;
}

.search-input:focus {
  background-color: transparent;
}

@media (max-width: 768px) {
  .search-bar {
    display: none !important;
  }
}