/* Styles pour la barre des tâches */
.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000; /* Assurer que la barre est au-dessus des autres éléments */
}

.taskbar-left {
  display: flex;
  align-items: center;
}

.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 14px;
}

.taskbar-search {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  width: 200px;
  transition: width 0.3s ease;
  background-color: #f1f1f1;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.taskbar-search:focus {
  width: 300px;
  outline: none;
  border-color: #0078d7;
  background-color: #fff;
}

.taskbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.taskbar-icon {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s;
}

.taskbar-icon img {
  width: 30px;
  height: 30px;
}

.taskbar-icon:hover {
  transform: scale(1.1);
}

.tooltip {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

.taskbar-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.taskbar-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .taskbar {
    height: 40px;
  }

  .taskbar-icon img {
    width: 25px;
    height: 25px;
  }

  .taskbar-time {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .taskbar {
    height: 40px;
    justify-content: center;
  }

  .taskbar-search,
  .taskbar-time,
  .taskbar-right {
    display: none;
  }

  .taskbar-icons {
    flex-direction: row;
    justify-content: center;
  }

  .taskbar-icon img {
    width: 35px; /* Tailles des icônes ajustées pour mobile */
    height: 35px;
  }
}

.weather-widget {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.weather-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .weather-widget {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .weather-widget {
    display: none !important;
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .weather-widget.weather-error {
    display: none;
  }
}
