/* App.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

body {
  background-image: url('./assets/images/background.png'); /* Path to your background image */
  background-size: cover; /* Make the image cover the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Take the full height of the viewport */
}

.desktop {
  flex: 1; /* Take all available space */
  display: grid;
  grid-template-columns: repeat(auto-fill, 80px); /* Increase column width */
  grid-auto-rows: 100px; /* Increase row height */
  gap: 20px; /* Increase gap between icons */
  justify-content: flex-start; /* Align icons to the left */
  align-items: flex-start; /* Align icons to the top */
  padding: 10px; /* Add some padding around the desktop */
}

.desktop-icon {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s, background-color 0.2s; /* Smooth transition for hover effects */
  width: 60px; /* Increase icon width */
  text-align: center;
  margin: 0; /* No extra margin around icons */
}

.desktop-icon img {
  width: 48px; /* Image size */
  height: 48px; /* Image size */
}

.desktop-icon:hover {
  transform: scale(1.1); /* Slightly enlarge the icon on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent background on hover */
  border-radius: 5px; /* Rounded corners for the hover effect */
}

.desktop-icon-label {
  font-family: 'Segoe UI', sans-serif;
  margin-top: 5px; /* Space between the icon and the text */
  margin-bottom: 10px; /* Space between each text of icon */
  font-size: 12px; /* Text size */
  color: #ffffff; /* Text color */
  text-align: center; /* Center the text */
  opacity: 0.8; /* Slightly transparent by default */
  transition: opacity 0.2s; /* Smooth transition for opacity */
}

.desktop-icon:hover .desktop-icon-label {
  opacity: 1; /* Make the text fully visible on hover */
}

.popup-window {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  width: 80%; /* Ajustez la largeur de la popup */
  max-width: 800px; /* Limite maximale de la largeur */
  height: auto;
  max-height: 80%; /* Limite maximale de la hauteur */
  overflow-y: auto; /* Ajoutez un défilement vertical si nécessaire */
}

.popup-window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-window-title {
  font-size: 18px;
  font-weight: bold;
}

.popup-window-close {
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 480px) {
  .desktop {
    justify-content: center; /* Center icons on mobile */
    align-items: center; /* Center icons on mobile */
  }

  .desktop-icon {
    width: 48px; /* Icon width */
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .desktop {
    justify-content: center; /* Center icons on tablet */
    align-items: center; /* Center icons on tablet */
  }

  .desktop-icon {
    width: 48px; /* Icon width */
  }
}

@media (min-width: 769px) {
  .desktop {
    justify-content: flex-start; /* Align icons to the left on desktop */
    align-items: flex-start; /* Align icons to the top on desktop */
  }

  .desktop-icon {
    width: 48px; /* Icon width */
  }
}