/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Prendre toute la hauteur de la fenêtre */
  background-image: url('./assets/images/background.png'); /* Chemin vers ton image */
  background-size: cover; /* Ajuster l'image pour couvrir tout l'écran */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat; /* Ne pas répéter l'image */
}


.desktop {
  flex: 1; /* Prendre tout l'espace disponible */
  display: flex;
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center; /* Centrer le contenu verticalement */
}
